._minimal_select_child_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  > div {
    display: none;
    position: absolute;
    border: 1px solid gray;
    border-radius: 2px;
    &.active {
      display: block;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 5px 10px;
      border-bottom: 1px solid gray;
      &:last-child {
        border-bottom: none;
      }
      &:hover,
      &:active {
        background-color: gray;
        color: white;
        cursor: pointer;
      }
    }
  }
}

._minimal-select-wrapper {
  display: inline-block;
  .placeholder {
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
  }
}
