._minimal_select_child_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  > div {
    display: none;
    position: absolute;
    border: 1px solid gray;
    border-radius: 4px;
    &.active {
      display: block;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 5px 10px;
      &:hover,
      &:active {
        background-color: gray;
        color: white;
        cursor: pointer;
      }
    }
  }
}
